{{- define "main" -}}
  {{- $projectsQuery := where .Pages "Params.hidden" "ne" true }}


  <div class="page-project-list container">
    <main id="main" class="content-column">
      <article class="content-area">
        <h1
          class="page__title"
          data-published-projects="{{ len $projectsQuery }}"
        >
          {{- .Title -}}
        </h1>
      </article>

      <ul class="project-preview__list">
        {{- range $projectsQuery -}}
          {{- $category := .Param "category" -}}
          {{- $technologies := newScratch -}}
          {{- $technologies.Set "featured" slice -}}

          {{- range .Param "technologies" -}}
            {{- if (reflect.IsMap .) -}}
              {{- $technologies.Add "featured" .featured -}}
            {{- end -}}
          {{- end -}}


          <li class="project-preview">
            <div class="project-preview__thumbnail-container">
              {{- $screenshot := .Resources.GetMatch (.Param "screenshot") -}}
              {{- if $screenshot -}}
                {{- $resized := $screenshot.Resize "550x jpg q95" -}}
                {{- $resized2x := $screenshot.Resize "1100x jpg q95" -}}
                {{- $imageRatio := div (float $resized.Height) (float $resized.Width) -}}
                <a
                  href="{{- .Permalink -}}"
                  class="project-preview__thumbnail-wrapper"
                  style="padding-bottom: calc({{ mul $imageRatio 100 }}% - 2px);"
                  tabindex="-1"
                >
                  <img
                    src="{{- $resized.RelPermalink -}}"
                    srcset="{{- $resized2x.RelPermalink }} 2x"
                    alt="Screenshot of {{ .Title }}"
                    class="project-preview__thumbnail"
                  />

                  {{- if  (.Param "repositoryUrl") -}}
                    <span class="project-preview__open-source-badge">
                      Open Source
                    </span>
                  {{- end -}}
                </a>
              {{- end -}}
            </div>
            <div class="project-preview__content-container">
              <h2 class="project-preview__title">
                <a href="{{- .Permalink -}}" class="project-preview__link">
                  {{- .Title -}}
                </a>
              </h2>

              {{- if $category -}}
                <dl class="project-category__wrapper">
                  <dt class="sr-only">Project Category</dt>
                  <dd class="project-category">{{- $category -}}</dd>
                </dl>
              {{ end }}


              <p class="sr-only">Technologies used:</p>
              <ul class="project-preview__technology-list">
                {{- range $technologies.Get "featured" -}}
                  <li class="project-preview__technology">{{- . -}}</li>
                {{- end -}}
              </ul>
            </div>
          </li>
        {{- end -}}
      </ul>

      <div class="content-area">
        <div class="page-project-list__content">
          {{ .Content }}
        </div>
      </div>
    </main>
  </div>
{{- end -}}
