{{ define "main" }}
	<main class="content-wrapper">
		{{ partial "breadcrumbs" . }}

		<h1 class="page__title">{{ .Name }}</h1>

		{{ partial "portfolio-screenshot" . }}

		<div>
			<div>
				<strong>Scope of Work:</strong>
			</div>

			<ul class="pill__wrapper">
				{{ range .Param "Services" }}
					<li class="pill">{{ . }}</li>
				{{ end }}
			</ul>
		</div>

		<div>
			<div>
				<strong>Technologies:</strong>
			</div>

			<ul class="pill__wrapper">
				{{ range .Param "technologies" }}
					<li class="pill">{{ . }}</li>
				{{ end }}
			</ul>
		</div>

		{{ .Content }}

		{{- if .Param "projectUrl" -}}
			<div class="button__wrapper text-center">
				<a href="{{ .Param "projectUrl" }}" class="button">Visit {{ .Name }}</a>
			</div>
		{{- end -}}

		<aside class="back-link">
			<a href="/portfolio/"><span aria-hidden="true">&#8592; </span>Back to porfolio</a>
		</aside>
	</main>
{{ end }}
