.content-wrapper {
  margin: 0 auto;
  padding: 50px $padding__md 120px;
  max-width: $breakpoint__md;
  font-size: 18px;
  @media (max-width: $breakpoint__sm) {
    padding-top: 20px $padding__sm 80px;
    font-size: 16px;
  }
  img {
    margin-top: 20px;
    margin-bottom: 12px;
    margin-left: -$image-overflow / 2;
    margin-right: -$image-overflow / 2;
    max-width: calc(100% + #{$image-overflow});
    height: auto;
    filter: drop-shadow(0 10px 10px rgba(#404040, 0.3));
  }
}
