.content-wrapper {
  margin: 0 auto;
  padding: 50px $padding__md 120px;
  max-width: $breakpoint__md;
  font-size: 18px;
  @media (max-width: $breakpoint__sm) {
    padding-top: 20px $padding__sm 80px;
    font-size: 16px;
  }
  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100% + 30px);
    height: auto;
    margin-top: 20px;
    margin-bottom: 12px;
    filter: drop-shadow(0 10px 10px rgba(64, 64, 64, 0.3));
  }
}
