<header class="header">
	{{ if not .IsHome }}
		<a href="/" class="header__title">Tyler Smith</a>
	{{ end }}
	<ul class="header__menu">
		{{- $currentPage := . -}}
		{{- range .Site.Menus.main -}}
			{{- $currentMenuItem := . -}}
			{{- $isDraft := false -}}
			{{- $path := .URL | relURL | plainify -}}
			{{ $pathNoTrailingSlash := strings.TrimSuffix "/" $path  }}
			{{- with $.Site.GetPage $pathNoTrailingSlash -}}
				{{- if or (not .Draft) (.Site.IsServer) -}}
					<li class="header__menu-item{{ if eq $currentMenuItem.URL $currentPage.URL }} header__menu-item--is-active{{ end }}">
						<a href="{{ $currentMenuItem.URL }}" title="{{ $currentMenuItem.Name }}">{{ $currentMenuItem.Name }}</a>
					</li>
				{{- end -}}
			{{- end -}}
		{{ end }}	
	</ul>
</header>