<head>
	<title>{{ .Title }} - {{ .Site.Title }}</title>

	{{- $description :=  replace .Content "\n" "" -}}
	{{- $description :=  $description | plainify | truncate 160 -}}

	{{ if (.Param "hidden") }} 
	<meta name="robots" content="noindex, follow">
	{{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{- trim $description "\n" -}}">
	<meta property="og:title" content="{{- .Title }} - {{ .Site.Title -}}">
	<meta property="og:description" content="{{- trim $description "\n" -}}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ .Permalink | absURL }}">
	<meta property="og:image" content="{{ "og-image.png" | absURL }}">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta name="twitter:card" content="summary_large_image">
	<link href="{{ "favicon.png" | absURL }}" rel="icon">

	<link href="https://fonts.googleapis.com/css?family=Bungee|Raleway:300,400,600" rel="stylesheet">
	{{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" .Site.IsServer) }}
	<link href="{{ ($style).RelPermalink }}" rel="stylesheet">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-100417057-1', 'auto');
	  ga('send', 'pageview');
	</script>
</head>