$font-family__headings: bungee, sans-serif;
$font-family__body: raleway, sans-serif;

$color__purple: #684c9f;
$color__purple--light: #d4cbe5;
$color__purple--dark: desaturate( darken($color__purple, 10%), 10%);

$breakpoint__xl: 1400px;
$breakpoint__md: 650px;
$breakpoint__sm: 450px;

$padding: 4vw;
$padding__md: 20px;
$padding__sm: 16px;