$font-family__headings: bungee, sans-serif;
$font-family__body: raleway, sans-serif;

$color__light-purple: #d4cbe5;
$color__purple: #684c9f;

$breakpoint__xl: 1400px;
$breakpoint__md: 650px;
$breakpoint__sm: 450px;
