$font-family__headings: bungee, sans-serif;
$font-family__body: "raleway", sans-serif;

$color__purple: #59389b; /* previous: #684c9f */
$color__purple--light: #d4cbe5;
$color__purple--dark: desaturate(darken($color__purple, 10%), 10%);

$color__black: #404040;

$color__background: lighten(desaturate($color__purple--light, 25%), 11%);
$color__background: #fff;

$breakpoint__xl: 1400px;
$breakpoint__md: 650px;
$breakpoint__sm: 450px;

$padding: 4vw;
$padding__md: 20px;
$padding__sm: 16px;

$image-overflow: 30px;
