$font-family__headings: bungee, sans-serif;
$font-family__body: "raleway", sans-serif;

$color__white: #fff;

$color__purple--lightest: #faf6ff;
$color__purple--light: #d0b8ff;
$color__purple--bright: #945cff;
$color__purple--common: #7e44ed;
$color__purple: #59389b;

$color__muted: #746f85;

$color__black: #404040;

$color__background: #f9f9f9;
// $color__background: #faf9fb; // TODO: this might be a little too saturated.

// figcaption gray: #5f5f5f

$breakpoint__xl: 1400px;
$breakpoint__md: 650px;
$breakpoint__sm: 450px;

$padding: 4vw;
$padding__md: 20px;
$padding__sm: 16px;

$image-overflow: 30px;

$feature-flag__mobile-nav: false;
