$font-family__headings: bungee, sans-serif;
$font-family__body: "raleway", sans-serif;

$color__background: #f9f9f9;

$color__black: #404040;
$color__white: #fff;
$color__gray--light: #dfdfdf;
$color__muted: #746f85;

$color__purple--100: #faf6ff;
$color__purple--200: #d0b8ff;
$color__purple--300: #945cff;
$color__purple--400: #7e44ed;
$color__purple--500: #59389b;

$breakpoint__xl: 1400px;
$breakpoint__md: 650px;
$breakpoint__sm: 450px;

$padding: 4vw;
$padding__md: 20px;
$padding__sm: 16px;

$image-overflow: 30px;

$feature-flag__mobile-nav: false;
