.pill {
	border: 1px solid white;
	border-radius: 1000px;
	font-size: 14px;
	padding: 2px 8px;
	display: inline-block;
	margin-bottom: 12px;
	&__wrapper {
		list-style-type: none;
		padding: 0;
		margin: 8px 0;
	}
}