.pill {
	border-radius: 4px;
	font-size: 14px;
	padding: 2px 8px;
	display: inline-block;
	margin-bottom: 12px;
	margin-right: 3px;
	color: #fff;
	background-color: desaturate($color__purple, 10%);
	font-weight: 600;
	&__wrapper {
		list-style-type: none;
		padding: 0;
		margin: 8px 0;
	}
}
