.blog-preview {
  padding-bottom: 32px;
  @media (max-width: $breakpoint__md) {
    display: block !important;
  }
  &__title {
    margin: 0;
  }
  &__link {
    color: $color__black;
    &:hover,
    &:focus,
    &:active {
      color: $color__purple--bright;
    }
  }
  &__published-date {
    font-size: 14px;
  }
  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__tag {
    margin-right: 8px;
    font-size: 14px;
  }
  &__meta-list {
    margin: 0;
  }
  &__meta-list-item {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-right: 10px;
  }
  &__meta-term {
    margin-left: 3px;
    font-size: 14px;
  }
  &__meta-detail {
    order: -1;
    margin: 0;
    font-size: 14px;
  }
}
