.blog-filter {
  font-size: 14px;
}
.blog-filter__mobile-toggle {
  appearance: none;
  background: none;
  border: none;
  display: none;
  color: $color__purple--400;
  padding: 0;
  @media (max-width: $breakpoint__md) {
    display: initial;
  }
}
.blog-filter__sidebar {
  overflow-x: hidden;
  @media (max-width: $breakpoint__md) {
    display: none !important;
  }
}
.blog-filter__sidebar-inner {
  padding: 20px 20px 0 4vw;
  width: 170px;
  box-sizing: content-box;
  flex-shrink: 0;
}
.blog-filter__list {
  margin: 16px 0 0;
  list-style: none;
  padding: 0;
}
.blog-filter__wrapper {
  margin: 0 !important;
  line-height: 1.4;
}
.blog-filter__label {
  cursor: pointer;
  font-size: 14px;
  &:hover,
  &:focus,
  &:active {
    color: $color__purple--400;
  }
  &:before {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid $color__purple--400;
    margin-right: 8px;
  }
  @at-root .blog-filter:checked + &:before {
    background: $color__purple--400;
  }
  @at-root .blog-filter:focus + &:before {
    outline: 1px solid blue;
  }
}
.blog-filter__reset-button {
  top: 4px;
  border: 1px solid;
  color: $color__purple--400;
  width: 100%;
  padding: 3px;
  appearance: none;
  background: $color__background;
  z-index: 10;
  &:not(:disabled) {
    position: sticky;
    &:hover,
    &:focus,
    &:active {
      color: $color__white;
      background: $color__purple--400;
    }
  }
  &:disabled {
    color: $color__gray--light;
  }
}
.blog-filter__sort-button-wrapper {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
}
.blog-filter__sort-button {
  appearance: none;
  background: none;
  padding: 0;
  font-size: 12px;
  border: none;
  cursor: pointer;
  color: $color__purple--400;
}
input[type="radio"]:checked + .blog-filter__sort-button {
  font-weight: bold;
}
