.blog-preview {
  padding-bottom: 40px;
  border: 1px solid $color__gray--light;
  padding: 30px 30px;
  margin-bottom: 21px;
  border-radius: 10px;
  background: rgb(252, 251, 253);
  display: flex;
  flex-direction: column;
  @media (max-width: $breakpoint__md) {
    display: block !important;
  }
  &__title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 12px;
    padding: 0px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 1.4;
    @media (max-width: 550px) {
      font-size: 20px;
    }
    @media (max-width: 400px) {
      font-size: 18px;
    }
  }
  &__link {
    color: $color__black;
    &:hover,
    &:focus,
    &:active {
      // color: $color__purple--400;
      display: inline-block;
    }
  }
  &__published-date {
    font-size: 14px;
  }
  &__tag-list {
    order: -1;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
  }
  &__tag {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    display: inline-block;
    padding: 5px 14px;
    border-radius: 5px;
    margin-bottom: 8px;
    line-height: 1;
    color: $color__purple--400;
    border: 1px solid $color__purple--200;
    background: $color__purple--100;
    margin-right: 8px;
    @media (max-width: 450px) {
      padding: 0;
      border: none;
      background: none;
    }
  }
  &__meta-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__published_date {
    flex-shrink: 0;
    padding-right: 10px;
  }
  &__meta-list {
    margin: 0;
  }
  &__meta-list-item {
    color: $color__muted;
    display: inline-flex;
    flex-wrap: nowrap;
    margin-right: 10px;
  }
  &__meta-term {
    margin-left: 3px;
    font-size: 14px;
  }
  &__meta-detail {
    order: -1;
    margin: 0;
    font-size: 14px;
  }
}
