.blog-filter {
  font-size: 14px;
  &__sidebar {
    padding: 20px 20px 0 4vw;
    min-width: 200px;
    @media (max-width: $breakpoint__md) {
      display: none !important;
    }
  }
  &__list {
    margin: 16px 0 0;
    list-style: none;
    padding: 0;
  }
  &__wrapper {
    margin: 0 !important;
    line-height: 1.4;
  }
  &__label {
    cursor: pointer;
    font-size: 14px;
    &:hover,
    &:focus,
    &:active {
      color: $color__purple--common;
    }
    &:before {
      content: "";
      position: relative;
      top: 1px;
      display: inline-block;
      height: 12px;
      width: 12px;
      border: 1px solid $color__purple--common;
      margin-right: 8px;
    }
    @at-root .blog-filter:checked + &:before {
      background: $color__purple--common;
    }
    @at-root .blog-filter:focus + &:before {
      outline: 1px solid blue;
    }
  }
  &__reset-button {
    position: sticky;
    top: 4px;
    border: 1px solid;
    color: $color__purple--common;
    width: 100%;
    padding: 3px;
    appearance: none;
    background: $color__background;
    z-index: 10;
    &:hover,
    &:focus,
    &:active {
      color: $color__white;
      background: $color__purple--common;
    }
  }
}
