.blog-filter {
  font-size: 14px;
  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  &__wrapper {
    margin: 0 !important;
  }
  &__label {
    font-size: 14px;
  }
  &__reset-button {
    margin-bottom: 10px;
  }
}
