.breadcrumb {
	display: inline;
	font-size: 16px;
	@media(max-width: $breakpoint__md) {
		font-size: 14px;
	}
	&+&:before{
		display: inline;
		padding: 0 5px;
		content: "/";
	}
	&__wrapper {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}
}