.button {
  display: inline-block;
  padding: 10px 50px;
  border: none;
  color: $color__white;
  background-color: $color__purple--500;
  border-radius: 4px;
  font-size: 16px;
  @media (max-width: $breakpoint__sm) {
    font-size: 14px;
    padding: 10px 20px;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__white;
    background-color: $color__purple--400;
  }
  &__wrapper {
    padding: 20px 10px 40px;
  }
}
