.content-area {
  font-size: 18px;
  @media (max-width: $breakpoint__sm) {
    font-size: 16px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: 0.05em;
  }

  h1 {
    font-size: 44px;
    font-weight: 400;
    @media (max-width: $breakpoint__md) {
      font-size: 38px;
    }
    @media (max-width: $breakpoint__sm) {
      font-size: 30px;
    }
  }

  h2 {
    font-size: 34px;
    font-weight: 400;
    @media (max-width: $breakpoint__md) {
      font-size: 26px;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 24px;
    font-weight: 600;
    @media (max-width: $breakpoint__md) {
      font-size: 20px;
    }
  }

  a {
    color: $color__black;
    text-decoration: none;
    border-bottom: solid 2px $color__purple--500;
    padding-bottom: 2px;
    &:hover,
    &:focus {
      color: $color__purple--500;
      border-bottom-width: 3px;
    }
  }

  strong {
    font-weight: 600;
  }

  figure {
    margin: 0;
  }

  li {
    margin-bottom: 0.4em;
  }

  img {
    $max-width: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100% + #{$max-width});
    height: auto;
    margin-top: 20px;
    margin-bottom: 12px;
    margin-right: -($max-width / 2);
    filter: drop-shadow(0 10px 10px rgba(64, 64, 64, 0.3));
  }
}
