.edit-page-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #fff;
  background: $color__purple;
  border: 1px solid $color__purple;
  padding: 4px 20px;
  border-radius: 1000px;
  font-size: 14px;
  z-index: 10;
  &:hover,
  &:focus,
  &:active {
    color: $color__purple;
    background: #fff;
  }
  @media (max-width: $breakpoint__md) {
    display: none;
  }
}
