.footer {
  $vertical-padding: 26px;
  $children-vertical-padding: 5px;
  @include site-padding;
  margin-top: auto;
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: $breakpoint__sm) {
    & > * {
      flex-basis: 100%;
      text-align: center;
    }
  }
  &__copyright-wrapper {
    padding-right: 16px;
    color: #95939d;
    font-size: 15px;
  }
  &__platform-link-wrapper {
    @media (max-width: $breakpoint__sm) {
      order: -1;
      margin-bottom: 24px;
    }
    .fa-stack {
      margin: 0 -4px;
    }
    a {
      color: #dad8df;
      &:hover,
      &:focus,
      &:active {
        color: $color__purple--bright;
      }
    }
  }
}
#footer-year {
  font-variant-numeric: tabular-nums;
}
