.footer {
  @include site-padding;
  $vertical-padding: 20px;
  $children-vertical-padding: 5px;
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &__copyright-wrapper {
    padding-right: 16px;
    padding-top: $children-vertical-padding;
    padding-bottom: $children-vertical-padding;
    color: #797581;
    font-size: 15px;
  }
  &__platform-link-wrapper {
    // font-size: 24px;
    padding-top: $children-vertical-padding;
    padding-bottom: $children-vertical-padding;
    .fa-stack {
      margin: 0 -4px;
    }
    a {
      color: #c0ade7;
      &:hover,
      &:focus,
      &:active {
        color: $color__purple--bright;
      }
    }
  }
}
#footer-year {
  font-variant-numeric: tabular-nums;
}
