.header {
  $space-between-items: 22px;
  @include site-padding;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 4px solid #8f67dd;
  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  &__title {
    display: inline-block;
    font-family: $font-family__headings;
    font-size: 22px;
    padding-bottom: 0;
    margin-right: 50px;
    color: $color__black;
    &:hover,
    &:focus,
    &:active {
      color: $color__purple;
    }
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-left: 0;
    font-size: 16px;
    list-style: none;
    flex-grow: 1;
    flex-basis: auto;
    text-align: right;
    margin-left: -($space-between-items / 2);
    margin-right: -($space-between-items / 2);
  }
  &__menu-item {
    position: relative;
    top: 5px;
    display: inline-block;
    padding-left: $space-between-items / 2;
    padding-right: $space-between-items / 2;
  }
  &__menu-item-link {
    color: rgb(150, 150, 150);
    &:hover {
      color: $color__purple;
    }
    &--is-active,
    &--is-active:hover,
    &--is-active:focus,
    &--is-active:active {
      color: #404040;
    }
    @at-root .header--light & {
      color: #fff;
    }
  }
}
