h1.page-title {
  margin-top: 0.8em;
  font-size: 80px;
  letter-spacing: 0.05em;
  @media (max-width: $breakpoint__md) {
    font-size: 70px;
    margin-bottom: 0.5em;
  }
  @media (max-width: $breakpoint__sm) {
    margin-top: 1.2em;
    font-size: 44px;
  }
}
