$offset: 10px;
.pill {
  border-radius: 4px;
  font-size: 14px;
  padding: 2px 8px;
  display: inline-block;
  margin-bottom: 0.5em;
  margin-right: 3px;
  color: $color__white;
  background-color: $color__purple--500;
  font-weight: 600;
  @media (max-width: $breakpoint__sm) {
    font-size: 12px;
  }
  &__wrapper {
    list-style-type: none;
    padding: 0;
    margin: 8px 0;
    // &--scroll {
    //   overflow-x: auto;
    //   display: flex;
    //   flex-wrap: nowrap;
    //   padding-left: $offset;
    //   padding-right: $offset;
    //   .pill {
    //     white-space: nowrap;
    //   }
    // }
  }
}

// .scroll-wrapper {
//   $shadow-blur: 10px;
//   $blur: 3px;
//   position: relative;
//   margin-left: -$offset;
//   margin-right: -$offset;
//   overflow: hidden;
//   $color: #f4f3f5;
//   $color: red;
//   &:before {
//     content: "";
//     position: absolute;
//     color: $color;
//     background: $color;
//     width: $offset + $blur;
//     z-index: 10;
//     top: 0;
//     bottom: 0;
//     left: -($offset + ($blur / 2)) / 2;
//     // left: -($offset) / 2;
//     filter: blur(3px);
//   }
//   &:after {
//     content: "";
//     position: absolute;
//     color: $color;
//     background: $color;
//     width: $offset + $blur;
//     z-index: 10;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     right: -($offset / 2) - $blur;
//     filter: blur($blur);
//   }
// }
