.project-preview {
  $breakpoint: 550px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 0 46px;
  @media (max-width: $breakpoint) {
    margin-bottom: 60px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 20px 0 40px;
    @media (max-width: $breakpoint) {
      padding-bottom: 0;
    }
  }
  &__open-source-badge {
    pointer-events: none;
    display: inline-block;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px 8px;
    color: $color__white;
    background-color: $color__purple--common;
  }
  &__thumbnail-container {
    display: flex;
    align-items: center;
    flex-basis: 260px;
    @media (max-width: $breakpoint) {
      flex-basis: 100%;
    }
  }
  &__thumbnail-wrapper {
    position: relative;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    position: relative;
    height: 0;
    width: 100%;
    &:before {
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: 5;
      inset: 0;
      transition-timing-function: ease-out;
      transition-property: opacity;
      transition-duration: 0.4s;
      background: $color__black;
      opacity: 0;
      @at-root .project-preview--hover & {
        @media (pointer: fine) {
          transition-duration: 0.2s;
          opacity: 0.7;
        }
      }
    }
    &:after {
      transition-timing-function: ease-out;
      content: "View Project";
      text-shadow: 0 0 4px $color__black;
      font-weight: 600;
      letter-spacing: 0.05em;
      pointer-events: none;
      z-index: 10;
      text-align: center;
      left: 0;
      right: 0;
      top: 50%;
      position: absolute;
      color: $color__white;
      opacity: 0;
      transform: translateY(0);
      transition-property: all;
      transition-duration: 0.4s;
      @at-root .project-preview--hover & {
        @media (pointer: fine) {
          opacity: 1;
          top: 50%;
          transform: translateY(-50%);
          transition-duration: 0.2s;
        }
      }
    }
  }
  &__thumbnail {
    display: block;
    width: 100%;
    position: absolute;
    inset: 0;
  }
  &__category-wrapper {
    margin: 0;
    order: -1;
  }
  &__category {
    margin: 0 0 4px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    display: inline-block;
    padding: 5px 14px;
    border-radius: 5px;
    margin-bottom: 12px;
    line-height: 1;
    color: $color__purple--common;
    border: 1px solid $color__purple--light;
    background: $color__purple--lightest;
  }
  &__content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    align-items: stretch;
    padding-left: 32px;
    @media (max-width: $breakpoint) {
      padding: 20px 0 30px;
      @at-root .project-preview:not(:last-child) & {
        content: "";
        border-bottom: 1px solid #ccc;
      }
    }
  }
  &__title {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    margin-bottom: 24px;
    letter-spacing: 0.05em;
  }
  &__link {
    color: $color__black;
  }
  &__technology-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__technology {
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: $color__muted;
    &:not(:last-child):after {
      content: ", ";
      margin-right: 3px;
    }
  }
}
