@at-root {
  $margin: 16px;
  .project-link {
    font-size: 15px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    color: #666666;
    display: inline-block;
    background: #e6e6e6;
    padding: 10px 10px;
    width: 220px;
    text-align: center;
    border-radius: 5px;
    &:hover,
    &:focus,
    &:active {
      color: $color__white;
      background: $color__purple--400;
      [class^="fa"] {
        color: $color__white;
      }
    }
    @media (max-width: $breakpoint__sm) {
      font-size: 14px;
    }
    [class^="fa"] {
      color: #c3c3c3;
      margin-right: 8px;
    }
  }
  .project-link__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: -($margin / 2);
    margin-right: -($margin / 2);
    @media (max-width: $breakpoint__sm) {
      justify-content: center;
    }
  }
  .project-link__list-item {
    margin-left: $margin / 2;
    margin-right: $margin / 2;
  }
}
