@at-root {
  $breakpoint: 550px;
  $hoverable: ".project-preview:has(
    .project-preview__thumbnail-wrapper:hover,
    .project-preview__link:hover,
  )";
  .project-preview {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 0 46px;
    @media (max-width: $breakpoint) {
      margin-bottom: 60px;
    }
  }
  .project-preview__list {
    list-style: none;
    margin: 0;
    padding: 20px 0 0;
    @media (max-width: $breakpoint) {
      padding-bottom: 0;
    }
  }
  .project-preview__open-source-badge {
    pointer-events: none;
    display: inline-block;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px 8px;
    color: $color__white;
    background-color: $color__purple--400;
  }
  .project-preview__thumbnail-container {
    display: flex;
    align-items: center;
    flex-basis: 260px;
    @media (max-width: $breakpoint) {
      flex-basis: 100%;
    }
  }
  .project-preview__thumbnail-wrapper {
    position: relative;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    position: relative;
    height: 0;
    width: 100%;
    &:before {
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: 5;
      inset: 0;
      transition-timing-function: ease-out;
      transition-property: opacity;
      transition-duration: 0.4s;
      background: $color__black;
      opacity: 0;
      @at-root #{$hoverable} & {
        @media (pointer: fine) {
          transition-duration: 0.2s;
          opacity: 0.7;
        }
      }
    }
    &:after {
      content: "View Project";
      transition-timing-function: ease-out;
      text-shadow: 0 0 4px $color__black;
      font-weight: 600;
      letter-spacing: 0.05em;
      pointer-events: none;
      z-index: 10;
      text-align: center;
      left: 0;
      right: 0;
      top: 50%;
      position: absolute;
      color: $color__white;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.4s;
      @media (prefers-reduced-motion: no-preference) {
        transform: translateY(0);
      }
      @media (prefers-reduced-motion: reduce) {
        transform: translateY(-50%);
      }
      @at-root #{$hoverable} & {
        @media (pointer: fine) {
          opacity: 1;
          top: 50%;
          transition-duration: 0.2s;
          transform: translateY(-50%);
        }
      }
    }
  }
  .project-preview__thumbnail {
    display: block;
    width: 100%;
    position: absolute;
    inset: 0;
  }
  .project-preview__content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    align-items: stretch;
    padding-left: 32px;
    @media (max-width: $breakpoint) {
      padding: 20px 0 30px;
      @at-root .project-preview & {
        content: "";
        border-bottom: 1px solid $color__gray--light;
      }
    }
  }
  .project-preview__title {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    margin-bottom: 24px;
    letter-spacing: 0.05em;
  }
  .project-preview__link {
    color: $color__black;
  }
  .project-preview__technology-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .project-preview__technology {
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: $color__muted;
    &:not(:last-child):after {
      content: ", ";
      margin-right: 3px;
    }
  }
}
