.scroll-to-top-button {
  cursor: pointer;
  display: block;
  opacity: 1;
  appearance: none;
  border: none;
  font-size: 50px;
  padding: 0;
  line-height: 0;
  border-radius: 1000px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: rgba(255, 255, 255, 1);
  color: $color__purple--400;
  transition: opacity 400ms;
  &--hidden {
    opacity: 0;
  }
}
