#skip-to-content {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #7e44ed;
  color: $color__white;
  border: solid 1px;
  font-size: 14px;
  padding: 5px 16px;
  &:not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
