{{ define "main" }}
	{{ $posts := getJSON "https://dev.to/api/articles?username=tylerlwsmith&per_page=1000" }}
	<div class="page-blog-list">
		{{ $tags := newScratch }}	
		{{ $tags.Set "allTags" (slice)}} 
		{{ range $posts }}
			{{ range .tag_list }}
				{{/* Can't use isSet: checks to see if a key's value is null, not if a key exists. */}}
				{{ if in ($tags.Get "allTags") . }}
					{{ $tags.SetInMap "withCount" . (dict "tag" . "count" (add (index ($tags.Get "withCount") .).count 1))  }}
				{{ else }}
					{{ $tags.SetInMap "withCount" . (dict "tag" . "count" 1)  }}
				{{ end }}
				{{ $tags.Add "allTags" . }}
			{{ end }}
		{{ end }}
		<aside class="page-blog-list__sidebar">
			<h3>Filter by Topic</h3>
			<ul class="blog-filter__list">
				{{ range sort ($tags.Get "withCount") "tag" "asc" }}
					<li class="blog-filter__wrapper">
						<input 
							type="checkbox"
							name="{{ .tag }}"
							id="tag:{{ .tag }}"
							class="blog-filter sr-only"
							data-blog-tag="{{ .tag }}"
						>
						<label for="tag:{{ .tag }}" class="blog-filter__label">{{ .tag }}: {{ .count }}</label>
					</li>
				{{ end }}
			</ul>
			<button id="reset-filters" class="blog-filter__reset-button">
				Reset Filters
			</button>
		</aside>
		<main class="page-blog-list__container">
			<article class="content-wrapper">
				<h1 class="page__title">{{ .Title }}</h1>
				{{ .Content }}
			</article>

			<div data-active-filter-list class="active-filter__list">
				{{/*  Intentionally blank  */}}
			</div>
			{{ $yearIndex := "" }}
			{{ range $posts }}
				{{ $postYear :=  time.Format "2006" .published_at }}
				{{ if ne $yearIndex $postYear }}
					{{ $yearIndex = $postYear }}
					<h2 data-year-heading class="page-blog-list__year">{{ $yearIndex }}</h2>
				{{ end }}
				<article data-tags="{{ jsonify .tag_list }}" class="blog-preview">
					<ul class="blog-preview__tag-list">
						{{ range .tag_list }}
							<li class="blog-preview__tag">#{{ . }}</li>
						{{ end }}
					</ul>
					<h3 class="blog-preview__title">
						<a href="{{ .url }}" class="blog-preview__link">{{ .title }}</a>
					</h3>

					<time 
						class="blog-preview__published_date"
						datetime="{{ time.Format "2006-01-02" .published_at }}"
					>
						{{ time.Format "Jan 2, 2006" .published_at }}
					</time>

					<dl class="blog-preview__meta-list">
						{{ if .public_reactions_count }}
							<div class="blog-preview__meta-list-item">
								<dt class="blog-preview__meta-term">reactions</dt>
								<dd class="blog-preview__meta-detail">
									{{ .public_reactions_count }}
								</dd>
							</div>
						{{ end }}

						{{ if .comments_count }}
							<div class="blog-preview__meta-list-item">
								<dt class="blog-preview__meta-term">comments</dt>
								<dd class="blog-preview__meta-detail">
									{{ .comments_count }}
								</dd>
							</div>
						{{ end }}
					</dl>
				</article>
			{{ end }}
		</main>
	</div>
	<script src="{{- (resources.Get "js/blog.js").RelPermalink -}}"></script>
{{ end }}
