<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<script>
  /** Animate the homepage text. */
	(function() {
		/** 
		 * Creating the style tag in JavaScript ensures that the text will be 
		 * visible on load if JS is disabled. Placing script before the affected
		 * DOM elements prevents a flash text before the animation starts.
		 */
		const styleTag = document.createElement('style');
		styleTag.innerHTML = `
			.animate\\:fade-in {
				opacity: 0;
				transform: translateX(20px);
				transition-property: opacity, transform;
				transition-duration: 0.3s;
			}
			@media (max-width: 650px) {
				.animate\\:fade-in {
					transform: translateY(20px);
				}
			}
			.animate\\:fade-in--initialized {
				opacity: 1;
				transform: translateX(0);
			}
		`;
		const headElement = document.querySelector('head');
		if (headElement) headElement.appendChild(styleTag);

		document.addEventListener('DOMContentLoaded', function() {
			window.setTimeout(function() {
				const animatable = [...document.querySelectorAll('.animate\\:fade-in')];
				let currentIndex = 0;
				const interval = window.setInterval(function() {
					if (currentIndex + 1 >= animatable.length) window.clearInterval(interval);
					animatable[currentIndex].classList.add('animate:fade-in--initialized');
					currentIndex++;
				}, 120);
			}, 100);
		}, false);
	})();
</script>
<body class="page-home">
	<div class="page-home__head-container" aria-label="Tyler's Giant Head">
		{{ "<!-- Head image in the background CSS -->" | safeHTML }}
	</div>
	<div class="page-home__content-container">
		{{  partial "header.html" . }}
		<main class="page-home__main">
			<header>
				<h1 class="page-home__heading animate:fade-in">Tyler Smith</h1>
				<h2 class="page-home__sub-heading animate:fade-in">
					Software Engineer
				</h2>
			</header>
			<div class="page-home__content animate:fade-in">
				{{ .Content }}
			</div>
			<ul class="platform-link__list">
				{{ range .Param "links" }}
					<li class="platform-link__wrapper animate:fade-in">
						<a
							href="{{ .link }}"
							rel="noreferrer noopener"
							class="platform-link"
						>
							<span class="fab {{ .icon }}" aria-label="{{ .platform }}"></span>
						</a>
					</li>
				{{ end }}
			</ul>
			
		</main>
		{{ partial "footer.html" . }}
	</div>
</body>
</html>
