<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body class="page-home">
	<div class="page-home__head-container" aria-label="Tyler's Giant Head">
		
	</div>
	<div class="page-home__content-container">
		{{/*  partial "header.html" . */}}
		<main>
			<article>
				<header>
					<h1 class="page-home__heading">Tyler Smith</h1>
					<h2 class="page-home__sub-heading">Web Developer</h2>
				</header>
				<div class="page-home__content">
					{{ .Content }}
				</div>
			</article>
		</main>
		{{- partial "footer.html" . -}}
	</div>
</body>
</html>
