.page-blog-list {
  $breakpoint: 550px;
  position: relative;
  display: flex;
  padding-bottom: 40px;
  @media (max-width: $breakpoint) {
    padding-bottom: 0;
  }
  &__container {
    margin-left: auto;
    margin-right: auto;
    @include site-padding;
    max-width: 720px;
    width: 100%;
  }
  &__year-heading {
    position: relative;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    &:not(:first-of-type) {
      margin-top: 100px;
    }
    /** Display even if filters are enabled. */
    @media (max-width: $breakpoint__md) {
      display: flex !important;
    }
  }
  &__year-heading-inner {
    background: $color__background;
    padding: 0 10px;
    &:after {
      content: "";
      z-index: -5;
      top: 50%;
      left: 10px;
      right: 10px;
      color: $color__gray--light;
      border-bottom: 1px solid;
      position: absolute;
    }
  }
  &__year {
    display: block;
    font-weight: 400;
  }
  &__year-count {
    font-weight: 400;
    font-size: 14px;
    color: $color__muted;
    display: block;
  }
}
