@at-root {
  $breakpoint: 550px;
  .page-blog-list {
    position: relative;
    display: flex;
    padding-bottom: 40px;
    @media (max-width: $breakpoint) {
      padding-bottom: 0;
    }
  }
  .page-blog-list__year-heading {
    position: relative;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    &:not(:first-of-type) {
      margin-top: 100px;
    }
  }
  .page-blog-list__year-heading-inner {
    background: $color__background;
    padding: 0 10px;
    &:after {
      content: "";
      z-index: -5;
      top: 50%;
      left: 10px;
      right: 10px;
      color: $color__gray--light;
      border-bottom: 1px solid;
      position: absolute;
    }
  }
  .page-blog-list__year {
    display: block;
    font-weight: 400;
  }
  .page-blog-list__year-count {
    font-weight: 400;
    font-size: 14px;
    color: $color__muted;
    display: block;
  }
}
