.page-project-list {
  &__content {
    font-size: 18px;
    letter-spacing: 0.028em;
    line-height: 2;
    color: $color__muted;
    margin-top: -20px;
    margin-bottom: 40px;
    @media (max-width: $breakpoint__md) {
      margin-top: 0;
    }
    @media (max-width: $breakpoint__sm) {
      font-size: 16px;
      margin-bottom: 20px;
      line-height: 1.6;
    }
    a {
      color: inherit;
      border-color: $color__purple--400;
    }
  }
  @include page-padding-bottom;
  &__container {
    margin-left: auto;
    margin-right: auto;
    @include site-padding;
    max-width: 720px;
    width: 100%;
  }
}
