{{- $scratch := newScratch -}}	
{{- $scratch.Set "allTags" (slice) -}} 
{{- range (.Scratch.Get "posts") -}}
  {{- range .tag_list -}}
    {{/* Can't use isSet: checks to see if a key's value is null, not if a key exists. */}}
    {{- if in ($scratch.Get "allTags") . -}}
      {{- $scratch.SetInMap "tagCount" . (dict "tag" . "count" (add (index ($scratch.Get "tagCount") .).count 1))  -}}
    {{- else -}}
      {{- $scratch.SetInMap "tagCount" . (dict "tag" . "count" 1)  -}}
    {{- end -}}
    {{- $scratch.Add "allTags" . -}}
  {{- end -}}
{{- end -}}
<aside
  class="blog-filter__sidebar"
  x-cloak
  x-bind:class="! $store.sidebar.isOpen ? 'hidden' : ''"
>
  <div>
    <h3>Filter by Tag</h3>
    <button
      id="reset-filters"
      class="blog-filter__reset-button"
      x-on:click="resetFilters"
    >
      Reset Filters
    </button>
    <div
      class="blog-filter__sort-button-wrapper"
      x-data="{ activeSort: 'name' }"
    >
      <button
        class="blog-filter__sort-button"
        x-on:click="sortFiltersByName"
        x-bind:class="activeSort === 'name' ? 'blog-filter__sort-button--active' : ''"
      >
        Sort by name
      </button>
      <button
        class="blog-filter__sort-button"
        x-on:click="sortFiltersByCount"
        x-bind:class="activeSort === 'count' ? 'blog-filter__sort-button--active' : ''"
      >
        Sort by count
      </button>
      <script>
        function sortFiltersByName(){
          list = document.querySelector('[data-filter-list]');
          listItems = [...list.querySelectorAll('li[data-filter-name]')];
          getName = (el) => el.dataset.filterName;

          listItems
            .sort((a, b) => getName(a).localeCompare(getName(b)))
            .forEach(el => list.appendChild(el));

          this.activeSort = 'name';
        }

        function sortFiltersByCount(){
          list = document.querySelector('[data-filter-list]');
          listItems = [...list.querySelectorAll('li[data-filter-count]')];
          getCount = (el) => el.dataset.filterCount;

          listItems
            .sort((a, b) => getCount(b) - getCount(a))
            .forEach(el => list.appendChild(el));

          this.activeSort = 'count';
        }
      </script>
    </div>
    <ul class="blog-filter__list" data-filter-list>
      {{ range sort ($scratch.Get "tagCount") "tag" "asc" }}
        <li 
          class="blog-filter__wrapper"
          data-filter-count="{{ .count }}"
          data-filter-name="{{ .tag }}"
        >
          <input 
            type="checkbox"
            name="{{ .tag }}"
            id="tag:{{ .tag }}"
            class="blog-filter sr-only"
            value="{{ .tag }}"
            x-model="activeFilters"
          >
          <label for="tag:{{ .tag }}" class="blog-filter__label">{{ .tag }}: {{ .count }}</label>
        </li>
      {{ end }}
    </ul>
  </div>
</aside>