{{- $scratch := newScratch -}}	
{{- $scratch.Set "allTags" (slice) -}} 
{{- range (.Scratch.Get "posts") -}}
  {{- range .tag_list -}}
    {{/* Can't use isSet: checks to see if a key's value is null, not if a key exists. */}}
    {{- if in ($scratch.Get "allTags") . -}}
      {{- $scratch.SetInMap "tagCount" . (dict "tag" . "count" (add (index ($scratch.Get "tagCount") .).count 1))  -}}
    {{- else -}}
      {{- $scratch.SetInMap "tagCount" . (dict "tag" . "count" 1)  -}}
    {{- end -}}
    {{- $scratch.Add "allTags" . -}}
  {{- end -}}
{{- end -}}
<aside
  class="blog-filter__sidebar"
  x-cloak
  x-bind:class="! $store.sidebar.isOpen ? 'hidden' : ''"
>
  <div>
    <h3>Filter by Tag</h3>
    <button
      id="reset-filters"
      class="blog-filter__reset-button"
      x-on:click="resetFilters"
    >
      Reset Filters
    </button>
    <!-- <button x-on:click="sortOrder = 'alphabetical'">Alphabetical</button>
    <button x-on:click="sortOrder = 'numerical'">Article Quantity</button> -->
    <ul class="blog-filter__list">
      {{ range sort ($scratch.Get "tagCount") "tag" "asc" }}
        <li 
          class="blog-filter__wrapper"
          x-data="{ count: {{ .count }} }"
          x-bind:style="sortOrder === 'numerical' && `order: -${count}`"
        >
          <input 
            type="checkbox"
            name="{{ .tag }}"
            id="tag:{{ .tag }}"
            class="blog-filter sr-only"
            value="{{ .tag }}"
            x-model="activeFilters"
          >
          <label for="tag:{{ .tag }}" class="blog-filter__label">{{ .tag }}: {{ .count }}</label>
        </li>
      {{ end }}
    </ul>
  </div>
</aside>
