<footer class="footer">
  <div class="footer__copyright-wrapper">
    {{ partial "copyright.html" }}
  </div>
  <div class="footer__platform-link-wrapper">
    <ul class="platform-link__list">
      {{- range .Site.Data.platform_links -}}
        <li class="platform-link__wrapper">
          <a
            href="{{ .link }}"
            rel="noreferrer noopener"
            class="platform-link"
          >
            <span class="fa-stack"  aria-label="{{ .platform }}">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="{{ .iconAlt }} fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      {{- end -}}
    </ul>
  </div>
</footer>
