html {
  min-height: 100vh;
}

body {
  background-color: $color__purple;
  font-family: $font-family__body;
  color: #fff;
  height: 100%;
  position: relative;
  margin: 0px;
  max-width: 100vw;
}

h1, h2, h3, h4, h5, h6{
  font-family: $font-family__headings;
  line-height: 1.2;
}

a, 
a:visited, 
a:active, 
a:focus {
  color: #fff;
  text-decoration: none;
  border-bottom: solid 2px #fff;
  padding-bottom: 2px;
}
